# --- VS: user-specific files ---
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# --- VS Cache / build results ---
.vs/

# --- VS Project ---
*.vcxproj
*.sln
*.slnx
*.vcxproj.filters

# --- Build results / intermediates ---
[Bb]in/
[Ii]ntermediate/

# Common build artifacts
*.obj
*.pch
*.pdb
*.ipdb
*.iobj
*.ilk
*.idb
*.exp
*.map
*.tlog
*.lastbuildstate

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb

# Logs / crash dumps
*.log
*.dmp

# ReSharper / Rider / JetBrains
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.idea/
*.DotSettings

# ImGui config (user local)
imgui.ini

# Compiled Shaders
**/Shaders/Compiled/*
!**/Shaders/Compiled/*.inc

# --- Repo-specific ---
/ClassDiagram.cd
.github/copilot-instructions.md
/premake5.exe
projects/*/config/user.cfg
projects/*/projects/*/config/user.cfg

# アセットの.objは除外しない。
!/content/**/*.obj
!/projects/**/*.obj
